#caption1 {
    margin-left: 70%;
}

#title1 {
    size: 150px;
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}

button {
    height:30px;
    width:auto;
    font-size:18px;
    margin-right:70%;
}
