#caption1 {
}
#title1 {
    size: 150px;
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}
#title2 {
    size: 200px;
    align-self: center;
}
p {
    font-size: 
}
button {
    tab-size: 48px;
}