#caption1 {
    margin-left: 70%;
}

#title1 {
    size: 150px;
    text-align: center;
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}

button {
    tab-size: 48px;
}
